* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c450c0 40%,
    #ffcc70 100%
  );
  height: 100vh;
}

.clock {
  width: 500px;
  height: 500px;
  background-color: rgba();
}
